{% extends 'base.html'%}

{% block content %}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class=" row ">
        <div class="col-md-6">
    <form method="post" class="mb-3 shadow">
            {% csrf_token %}
          <div class="form-group">
               <input type="text" class="form-control" name="task" placeholder="Taskname">
          </div>
          <div class="form-group">
               <input type="text" class="form-control" name="priority" placeholder="Enter your priority">
          </div>
            <input type="submit" class="btn btn-success">
    </form>
        </div>
    </div>
</div>
{% for i in task1 %}
{{i.name}}
{{i.priority}}
{% endfor %}




{% endblock %}